/**
 * Variables
 */

// Colors
$black: #020202;
$black-light: #292929;
$white: #fff;
$gray: #e5e5e5;
$gray-dark: #c5c5c5;
$gray-darker: #a5a5a5;
$green: #11d07d;
$red: #c3423f;
$yellow: #e89005;
$blue: #1e6deb;

// Typography
$font-family: 'Nunito', sans-serif;
$font-weight-bold: 700;

// Transitions
$transition-default: 0.2s ease-in-out;
